@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .cl-footer > div:nth-child(2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .cl-footer {
    display: none;
  }
}

.cl-userButtonPopoverFooter {
  display: none;
}

/* set the z-index to 1 because when opening a drawer, it should be behind the drawer */
.cl-card {
  z-index: 1;
}

@media (max-width: 767px) {
  .cl-userButton-popover {
    top: 64px !important;
    left: 16px !important;
  }
}

.card-polka {
  color: theme("textColor.primary-content");
  background-image: radial-gradient(theme("colors.primary-content") 0.85px, theme("colors.primary") 0.85px);
  background-size: 12px 12px;
  text-shadow: 1px 1px 2px theme("colors.primary"), -1px -1px 2px theme("colors.primary"), 1px -1px 2px theme("colors.primary"), -1px 1px 2px theme("colors.primary");
  font-weight: bold;
}

.card-cross {
  color: theme("textColor.secondary-content");
  background: radial-gradient(circle, transparent 20%, theme("colors.secondary") 20%, theme("colors.secondary") 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, theme("colors.secondary") 20%, theme("colors.secondary") 80%, transparent 80%, transparent) 22.5px 22.5px, linear-gradient(theme("colors.secondary-content") 1.2px, transparent 1.2px) 0 -0.9px, linear-gradient(90deg, theme("colors.secondary-content") 1.2px, theme("colors.secondary") 1.2px) -0.9px 0;
  background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;
  text-shadow: 1px 1px 2px theme("colors.secondary"), -1px -1px 2px theme("colors.secondary"), 1px -1px 2px theme("colors.secondary"), -1px 1px 2px theme("colors.secondary");
  font-weight: bold;
}

.card-diagonal2 {
  background: repeating-linear-gradient( -45deg, theme("colors.accent"), theme("colors.accent") 5px, theme("colors.accent-content") 5px, theme("colors.accent-content") 25px );
  color: theme("textColor.accent");
  text-shadow: 1px 1px 2px theme("colors.accent-content"), -1px -1px 2px theme("colors.accent-content"), 1px -1px 2px theme("colors.accent-content"), -1px 1px 2px theme("colors.accent-content");
  font-weight: bold;
}

.card-diagonal {
  background: repeating-linear-gradient( 45deg, theme("colors.accent-content"), theme("colors.accent-content") 5px, theme("colors.accent") 5px, theme("colors.accent") 25px );
  color: theme("textColor.accent-content");
  text-shadow: 1px 1px 2px theme("colors.accent"), -1px -1px 2px theme("colors.accent"), 1px -1px 2px theme("colors.accent"), -1px 1px 2px theme("colors.accent");
  font-weight: bold;
}

.card-zigzag {
  background-image:  linear-gradient(135deg, theme("backgroundColor.error") 25%, transparent 25%), linear-gradient(225deg, theme("backgroundColor.error") 25%, transparent 25%), linear-gradient(45deg, theme("backgroundColor.error") 25%, transparent 25%), linear-gradient(315deg, theme("backgroundColor.error") 25%, theme("textColor.error-content") 25%);
  background-position:  30px 0, 30px 0, 0 0, 0 0;
  background-size: 60px 60px;
  background-repeat: repeat;
  color: theme("colors.neutral-content");
  text-shadow: 1px 1px 2px theme("colors.neutral"), -1px -1px 2px theme("colors.neutral"), 1px -1px 2px theme("colors.neutral"), -1px 1px 2px theme("colors.neutral");
  font-weight: bold;
}

.card-circles {
  background-size: 44px 44px;
  background-image:  repeating-linear-gradient(to right, theme("colors.success-content"), theme("colors.success-content") 2.4px, theme("colors.success") 2.4px, theme("colors.success"));
  color: theme("colors.success-content");
  text-shadow: 1px 1px 2px theme("colors.success"), -1px -1px 2px theme("colors.success"), 1px -1px 2px theme("colors.success"), -1px 1px 2px theme("colors.success");
  font-weight: bold;
}
