@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .cl-footer > div:nth-child(2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .cl-footer {
    display: none;
  }
}

.cl-userButtonPopoverFooter {
  display: none;
}

/* set the z-index to 1 because when opening a drawer, it should be behind the drawer */
.cl-card {
  z-index: 1;
}

@media (max-width: 767px) {
  .cl-userButton-popover {
    top: 64px !important;
    left: 16px !important;
  }
}
